html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(143, 143, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imgWrapper img {
    width: auto;
    height: 50vh;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

main {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100vw;
}

.imgWrapper {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 143, 143);
    height: auto;
    padding: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100dvw !important;
    width: 100vw !important;
    -webkit-box-shadow: 1px 5px 30px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 5px 30px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 5px 30px 4px rgba(0, 0, 0, 0.25);
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 114, 116);
    width: auto;
    user-select: none;
}

.arrowLeft, .arrowRight {
    background-color: rgb(44, 44, 44);
    color: rgb(241, 241, 241);
    padding: 5%;
    height: auto;
}

span.material-icons {
    font-size: 250%;
    transition: 0.3s ease-in-out;
}

.material-icons:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.headline {
    background-color: rgb(100, 100, 100);
    color: rgb(44, 44, 44);
    text-align: center;
    padding: 1%;
    margin: 0;
    font-weight: lighter;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

span.bold {
    font-size: 125%;
    font-weight: 900;
}

img:nth-child(1) {
    display: none;
}

img:nth-child(2) {
    display: none;
}

img:nth-child(3) {
    display: block;
    height: 45vh;
    width: auto;
    border: 5px solid rgb(44, 44, 44);
    filter: blur(2.5px);
}

img:nth-child(4) {
    display: block;
    height: 50vh;
    width: auto;
    border: 5px solid rgb(44, 44, 44);
    filter: blur(2.5px);
}

img:nth-child(5) {
    display: block;
    height: 55vh;
    width: auto;
    border: 5px solid rgb(44, 44, 44);
}

img:nth-child(6) {
    display: block;
    height: 50vh;
    width: auto;
    border: 5px solid rgb(44, 44, 44);
    filter: blur(2.5px);
}

img:nth-child(7) {
    display: block;
    height: 45vh;
    width: auto;
    border: 5px solid rgb(44, 44, 44);
    filter: blur(2.5px);
}

@media (max-width: 1625px) {
    img:nth-child(3) {
        height: 40vh;
    }

    img:nth-child(4) {
        height: 45vh;
    }

    img:nth-child(5) {
        height: 50vh;
    }

    img:nth-child(6) {
        height: 45vh;
    }

    img:nth-child(7) {
        height: 40vh;
    }
}

@media (max-width: 1450px) {
    img:nth-child(3) {
        height: 35vh;
    }

    img:nth-child(4) {
        height: 40vh;
    }

    img:nth-child(5) {
        height: 45vh;
    }

    img:nth-child(6) {
        height: 40vh;
    }

    img:nth-child(7) {
        height: 35vh;
    }
}

@media (max-width: 1300px) {
    img:nth-child(3) {
        height: 30vh;
    }

    img:nth-child(4) {
        height: 35vh;
    }

    img:nth-child(5) {
        height: 40vh;
    }

    img:nth-child(6) {
        height: 35vh;
    }

    img:nth-child(7) {
        height: 30vh;
    }
}

@media (max-width: 1135px) {
    img:nth-child(3) {
        height: 25vh;
    }

    img:nth-child(4) {
        height: 30vh;
    }

    img:nth-child(5) {
        height: 35vh;
    }

    img:nth-child(6) {
        height: 30vh;
    }

    img:nth-child(7) {
        height: 25vh;
    }
}

@media (max-width: 975px) {
    img:nth-child(3) {
        height: 20vh;
    }

    img:nth-child(4) {
        height: 25vh;
    }

    img:nth-child(5) {
        height: 30vh;
    }

    img:nth-child(6) {
        height: 25vh;
    }

    img:nth-child(7) {
        height: 20vh;
    }
}

@media (max-width: 975px) {
    img:nth-child(3) {
        display: none;
    }

    img:nth-child(4) {
        height: 25vh;
    }

    img:nth-child(5) {
        height: 30vh;
    }

    img:nth-child(6) {
        height: 25vh;
    }

    img:nth-child(7) {
        display: none;
    }
}

@media (max-width: 560px) {
    img:nth-child(3) {
        display: none;
    }

    img:nth-child(4) {
        display: none;
    }

    img:nth-child(5) {
        height: 50vh;
    }

    img:nth-child(6) {
        display: none;
    }

    img:nth-child(7) {
        display: none;
    }
}

img:nth-child(8) {
    display: none;
}

img:nth-child(9) {
    display: none;
}